.synth-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdowns-sliders-container {
  display: flex;
  flex-direction: row;
  flex-basis: content;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  .dropdowns {
    display: flex;
    flex-direction: column;
    padding: 0.75em 0 0 .5em;
    .synths,
    .wave-shapes {
      width: 100%;
      padding: 0 0 .5em .5em;
      select {
        font-size: 0.75em;
        width: 100%;
      }
    }
  }
  .sliders {
    margin-top: 1%;
    padding: .5em;
    display: flex;
    flex-direction: column;
    flex-basis: content;
    label {
      
    }
  }
}

.effects-container {
  p {
    text-align: center;
  }
  .effects {
    padding-left: .25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    .effect {
      &.closed {
        height: 20px;
        overflow: hidden;
      }
      label {
        text-align: center ;
        font-size: .9em;
      }
      input {
        padding-bottom: 2%;
      }
      display: flex;
      flex-basis: calc(25% - 4px);
      @media (max-width: 1023px) {
        flex-basis: calc(33.3333% - 3px);
      }
      @media (max-width: 600px) {
        flex-basis: calc(50% - 2px);
      }
      flex-direction: column;
      margin-top: 1%;
      border: 1px solid grey;
      border-radius: 5px;
      min-width: 0;
      padding: 1% 0 1% 0;
      .slider {
        display: flex;
        flex-direction: column;
        margin-left: 1%;
        padding: 1.5%;
        label {
          width: 100%;
          font-size: .75em;
          text-align: center;
        }
        input {
          width: 80%;
          padding: 0;
        }
      }
    }
  }
}
