.synth-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdowns-sliders-container {
  display: flex;
  flex-direction: row;
  flex-basis: content;
  align-content: space-between;
  flex-wrap: wrap;
  .sliders {
    margin-top: 1%;
    padding: .75em;
    display: flex;
    flex-direction: column;
    flex-basis: content;    
    .slider {
      display: flex;
      flex-direction: row;
      justify-content: left;
      label {
        width: 50%;
      }
      input {
        width: 50%;
      }
      div:last-of-type {
        width: 50px;
      }
    }
  }
  .dropdowns {
    display: flex;
    display: none;
    flex-direction: column;
    padding: 0.75em 0 0 1em;
    .synths,
    .wave-shapes {
      width: 100%;
      padding: 0 0 .5em .5em;
      select {
        font-size: 0.75em;
        width: 100%;
      }
    }
  }
  .radio-buttons {
    display: flex;
    flex-direction: row;
    padding: 0.75em 0 0 2em;
  }
  
}
