#synth {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #eee;
  border: 1px solid #999;
  padding-left:30px;
  display:flex;
  justify-content: flex-start;
  padding: 1em;
}

.key {
  width: 50px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #cecece;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  color: black;
  display: flex;
  margin-left: -15px;
  background-color: #fff;
  display:flex;
  align-items: flex-end;
  &.no-margin {
    margin-left:0;
  }
  &.active {
    background-color: lightgrey;
    // box-shadow: inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  }
  span {
    text-align: center;
    width:100%;
    font-size: 0.75em;
    p {
      margin: 0;
      &:first-of-type {
        color:gray;
        font-size: .85em;
        margin-bottom: .3em;
      }
      &:last-of-type {
        font-size: .95em;
        margin-bottom: 1em;
      }
    }
  }
}

.black {
  background-color: #000;
  width: 30px;
  height: 100px;
  margin-left: -15px;
  z-index: 1;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
  &.active {
    background-color: lightslategray;
  }
}

.sliders {
  margin-top: 1%;
  padding: .5em;
  & > div {
    display: flex;
    align-items: center;
    div:last-of-type {
      font-size: .5em;
    }
  }
  .slider {
    display: flex;
    align-items: center;
    label {
      font-size: 0.75em;
      margin-right: 2%;
      width: 75px;
    }
  }
}

.dropdowns {
  display: flex;
  .synths,
  .wave-shapes,
  .effects {
    width: 20%;
    padding: .5em;
    select {
      font-size: 0.75em;
      width: 100%;
    }
  }
}
